$white: #ffffff;
$gray-100: #203600;
$gray-200: 	#203700;
$black: #000000;
$gray-300: #203850;
$gray-400: #203860;
$gray-600: #203950;
$body-bg: $white;

$head-bg-color: $gray-100;
$footer-bg: theme-color();

$color-lines: $gray-200;